MONGO_URI=
PORT=5080
EMAIL_USER=
EMAIL_PASS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CLIENT_URL=http://localhost:5173

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
PAYMONGO_PUBLIC_KEY=
PAYMONGO_SECRET_KEY=

AGORA_APP_ID=
AGORA_APP_CERTIFICATE=

OPENCAGE_API_KEY=

